$color1: #eb13d8;
$color2: #f2d60c;
$color3: #00d2cd;
$color4:rgb(255, 255, 255)d;


.color__01 {
  color: $color1;
}

.color__02 {
  color: $color2;
}

.color__03 {
  color: $color3;
}

.color__04 {
  color: $color4;
}
