/* Footer */

footer {
  grid-area: footer;
  color: white;
  padding: 20px 0px 20px 0px;

}


.container__footer {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
  padding: 80px 20px 80px 20px;
}